h1 {
  text-transform: uppercase;
}

@font-face {
  font-family: 'Socicon Webfont';

  src: url('../fonts/socicon-webfont.eot');
  src: url('../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/socicon-webfont.woff') format('woff'), url('../fonts/socicon-webfont.ttf') format('truetype'), url('../fonts/socicon-webfont.svg#glyphicons_halflingsregular') format('svg');
}
.social-icon {
  font-family: 'Socicon Webfont';
  text-decoration: none;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #F48200;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  color: #F48200;
}

.container {
  max-width: 900px;
}

.container_narrow {
  max-width: 600px;
}

.text-white {
  color: white;
}

.pad {
  padding: 40px;
}

.form-control:focus {
  box-shadow: 0px 0px 5px #F48200;
  border: 0px;
}

.form-control {
  padding: 30px 20px;
  font-size: 18px;
  background-color: #F5F5F5;
  box-shadow: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  &:focus {
    border: 1px solid #29abe2;
  }
}

.fixed {
  width: 100%;
  position: fixed;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#opening_section {
  background: #f9c667; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f9c667 0%, #f48200 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f9c667), color-stop(100%,#f48200)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #f9c667 0%,#f48200 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #f9c667 0%,#f48200 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #f9c667 0%,#f48200 100%); /* IE10+ */
  background: linear-gradient(135deg,  #f9c667 0%,#f48200 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f48200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: white;
  padding: 20px;
  border-bottom: 3px solid #CA8F3E;
}

#volume_output_section {
  background-color: #FFF;
}

#volume_input_section,
#volume_output_section {
  position: relative;
  z-index: 999;
}

#output_wrapper {
  
}

#calculation_wrapper {
  display: block;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#conversion_wrapper {
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #E5E5E5;
}

footer {
  background-image: url("../images/bottles.png") center bottom;
  background-position: 100px auto;
}

.table th {
}

.table td h3 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
}

.table td h4 {
  margin: 0px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
